<ion-view view-title="View Customer">
    <ion-content padding="true">
        <label class="item item-input item-stacked-label">
            <span class="input-label"> Name</span>
            <p class="padding-top">{{customer.Name}}</p>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <p class="padding-top">{{customer.Email}}</p>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Contact No</span>
            <p class="padding-top">{{customer.ContactNo}}</p>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Address</span>
            <p class="padding-top">{{customer.Address}}</p>
        </label>
        <br />
        <p>
            <a class="button button-small icon-left ion-chevron-left" href="#/tab/customers">Back</a>
        </p>
    </ion-content>
</ion-view>