<ion-view view-title="User Login">
    <ion-content padding="true">
        <div class="error-container error hide" id="divError">

        </div>
        <form role="form" name="userform" novalidate="novalidate">
            <label class="item item-input item-stacked-label">
                <!--<span class="input-label">Username</span>-->
                <input type="text" name="username" placeholder="Username" required="required" ng-model="user.username" ng-class="{ 'field-error' : userform.username.$invalid && (userform.username.$dirty || submitted), 'field-success':userform.username.$valid}">
                <p ng-show="userform.username.$error.required && (userform.username.$dirty || submitted)" class="form-error">Please Enter Username</p>
            </label>
            <label class="item item-input item-stacked-label">
                <!--<span class="input-label">Password</span>-->
                <input type="password" name="password" placeholder="Password" required="required" ng-model="user.password" ng-class="{ 'field-error' : userform.password.$invalid && (userform.password.$dirty || submitted), 'field-success':userform.password.$valid}">
                <p ng-show="userform.password.$error.required && (userform.password.$dirty || submitted)" class="form-error">Please Enter Password</p>
            </label>
            <label class="item">
                <button class="button button-block button-positive" ng-click="signIn(user)">
                    Sign In
                </button>
            </label>
        </form>
    </ion-content>
</ion-view>