<ion-view title="Signup">
    <ion-content padding="true" scroll="false" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="user.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="user.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contact No</span>
                    <input type="text" placeholder="" ng-model="user.contactno">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <textarea rows="3" cols="5" type="text" placeholder="" ng-model="user.address"></textarea>
                </label>
            </ion-list>
            <button class="button button-positive button-block" ng-click="signUp(user)">Sign up</button>
            <button class="button button-stable button-block" ng-click="cancel()">Cancel</button>
        </form>
    </ion-content>
</ion-view>