<ion-view>
    <ion-tabs class="tabs-icon-top tabs-positive">
        <ion-tab title="Dashboard" icon="ion-grid" href="#/tab/dashboard">
            <ion-nav-view name="dashboard-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Customers" icon="ion-person-stalker" href="#/tab/customers">
            <ion-nav-view name="customers-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Sign-Out" icon="ion-power" href="#/sign-in">
        </ion-tab>
    </ion-tabs>
</ion-view>